@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
:root {
  --bg1: #191919;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
}

@media (hover: none) and (pointer: coarse) {
  button, img {
    cursor: none !important;
  }
}

button {
  border: none;
  outline: none;
  cursor: none;
}

.audio_player {
  border-radius: 5px;
  width: 300px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--bg1);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.image {
  border-radius: 7px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  margin: auto;
  margin-top: 10px;
}

.controls {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.controls .name {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 0;
}
.controls .name h1 {
  color: #e6e7eb;
  letter-spacing: 1px;
  font-size: 22px;
}
.controls .name p {
  color: #7facd6;
  font-size: 18px;
  margin-top: 7px;
  -webkit-transform: 1s;
          transform: 1s;
}
.controls .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 45px;
  padding-bottom: 20px;
}
.controls .buttons button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.controls .buttons .prevAudio {
  background-image: url(../image/prev.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.controls .buttons .playAudio {
  width: 40px !important;
  height: 40px !important;
  background-image: url(../image/play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.controls .buttons .nextAudio {
  background-image: url(../image/next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.controls .sound_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.controls .sound_menu img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.controls .sound_menu img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.controls .sound_menu .btn_download {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-left: 0;
}
.controls .sound_menu .btn_download:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.controls .sound {
  border-radius: 5px;
  width: 60px;
  height: 80%;
  position: absolute;
  top: 40px;
  right: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 2px 4px #000001;
          box-shadow: 0 2px 4px #000001;
  background-color: var(--bg1);
  padding: 7px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.controls .sound .volume {
  color: white;
}
.controls .sound input {
  position: absolute;
  top: 60px;
  right: -120px;
  width: 300px;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-top: 120px;
}

.sound_open {
  visibility: visible !important;
  opacity: 1 !important;
  right: -80px !important;
}