@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

:root{
    --bg1: #191919;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

a{
    text-decoration: none;
}

button, img{
    @media (hover: none) and (pointer: coarse) {
        cursor: none !important;  
    }
}

button{
    border: none;
    outline: none;
    cursor: none;  

}

@mixin br {
    // border: 1px solid;
}

.audio_player{
    border-radius: 5px;
    width: 300px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.7);
    background-color: var(--bg1);
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.image{
    @include br;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}

.controls{
    @include br;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
        .name{
            width: 100%;
            text-align: center;
            margin: auto;
            margin-top: 0;
                h1{
                    color: #e6e7eb;
                    letter-spacing: 1px;
                    font-size: 22px;
                }
                p{
                    color: #7facd6;
                    font-size: 18px;
                    margin-top: 7px;
                    transform: 1s;
                }
        }
        .buttons{
            @include br;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 45px;
            // margin-top: 35px;
            padding-bottom: 20px;
                button{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    padding: 0px;
                    background-color: rgba(0,0,0,0);
                }
                .prevAudio{
                    background-image: url(../image/prev.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .playAudio{
                    width: 40px !important;
                    height: 40px !important;
                    background-image: url(../image/play.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .nextAudio{
                    background-image: url(../image/next.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
        }
        .sound_menu{
            display: flex;
            justify-content: flex-end;
                img{
                    @include br;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }
        }
        .sound{
            @include br;
            border-radius: 5px;
            width: 60px;
            height: 80%;
            position: absolute;
            top: 40px;
            right: -80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0 2px 4px rgba(0,0,0.7);
            background-color: var(--bg1);
            padding: 7px;
            transition: .3s linear;
                .volume{
                    color: white;
                }
                input{
                    @include br;
                    position: absolute;
                    top: 60px;
                    right: -120px;
                    width: 300px;
                    cursor: pointer;
                    transform: rotate(270deg);
                    margin-top: 120px;
                }
        }
}

.sound_open{
    visibility: visible !important;
    opacity: 1 !important;
}