@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

:root{
    --bg1: #191919;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

a{
    text-decoration: none;
}

button, img{
    @media (hover: none) and (pointer: coarse) {
        cursor: none !important;
    }
}

button{
    border: none;
    outline: none;
    cursor: none;  

}

@mixin br {
    // border: 1px solid;
}

// Окно скорости воспроизведения
    .speed{
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: -100px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-gap: 10px;
        background-color: var(--bg1);
        transition: .6s linear;
            img{
                cursor: pointer;
                width: 30px;
            }
            input{
                cursor: pointer;
                width: 100%;
            }
            
            .speed_value{
                width: 39px;
                color: white;
            }
    }
    .speed_active{
        bottom: -15px !important;
    }
// .speed{
//     border-radius: 10px;
//     width: 300px;
//     box-shadow: 0 2px 4px rgba(0,0,0,.7);
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     padding: 10px;
// }

// .speed_section{
//     display: flex;
//     justify-content: center;
//         .speed_item{
//             border-radius: 5px;
//             width: 100%;
//             height: 50px;
//             display: flex;
//             justify-content: center;
//             font-size: 18px;
//             font-weight: bold;
//             padding-top: 5px;
//         }
//         .line{
//             border-bottom: 3px solid #1a73e8;
//             background-color: rgba(26,115,232,.3);
//             animation: anim 1s;
//         }
// }

// @keyframes anim {
//     0%{
//         opacity: 0;
//     }
//     100%{
//         opacity: 1;
//     }
// }

// .arrows{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     grid-gap: 20px;
//     margin-top: 12px;
//     margin-bottom: 12px;
//         img{
//             width: 30px;
//             height: 30px;
//         }
// }
// speed end


.audio_player{
    border-radius: 5px;
    width: 300px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.7);
    background-color: var(--bg1);
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.image{
    @include br;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}

.controls{
    @include br;
    min-height: 170px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
        .sound_line{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
                .progress{
                    width: 200px;
                    transition: .2s linear;
                }
        }
        .name{
            width: 100%;
            text-align: center;
            margin: auto;
            margin-top: 10px;
                h1{
                    color: #e6e7eb;
                    letter-spacing: 1px;
                    font-size: 22px;
                }
                p{
                    color: #7facd6;
                    font-size: 18px;
                    margin-top: 7px;
                    transform: 1s;
                }
        }
        .buttons{
            @include br;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 45px;
            margin-top: 20px;
            padding-bottom: 30px;
                button{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    padding: 0px;
                    background-color: rgba(0,0,0,0);
                }
                .prevAudio{
                    background-image: url(../image/prev.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .playAudio{
                    width: 40px !important;
                    height: 40px !important;
                    background-image: url(../image/play.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .nextAudio{
                    background-image: url(../image/next.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
        }
        .sound_menu{
            display: flex;
            justify-content: flex-end;
                img{
                    @include br;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;    
                    transform: scale(1);
                    transition: .2s linear;
                        &:hover{
                            transform: scale(1.2);
                        }
                        &:nth-child(2){
                            margin: auto;
                            margin-left: 0;
                        }
                }
                .btn_download{
                    cursor: pointer;
                    transform: scale(1);
                    margin: auto;
                    transition: .2s linear;
                    margin-left: 0; 
                        &:hover{
                            transform: scale(1.2);
                        }
                }
        }
        
}

// Окно звука
.sound{
    @include br;
    border-radius: 5px;
    width: 60px;
    height: 80%;
    position: absolute;
    top: 40px;
    right: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 2px 4px rgba(0,0,0.7);
    background-color: var(--bg1);
    padding: 7px;
    transition: .3s linear;
        .volume{
            color: white;
        }
        input{
            @include br;
            position: absolute;
            top: 60px;
            right: -120px;
            width: 300px;
            cursor: pointer;
            transform: rotate(270deg);
            margin-top: 120px;
        }
}

.sound_open{
    visibility: visible !important;
    opacity: 1 !important;
    right: -80px !important;
}