@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body{}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

@mixin br {
    // border: 1px solid;
}

.audio_player{
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,.7);
    background-color: #191919;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.image{
    @include br;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}

.controls{
    @include br;
    margin-top: 20px;
        .name{
            width: 100%;
            text-align: center;
                h1{
                    color: #e6e7eb;
                    letter-spacing: 1px;
                    font-size: 22px;
                }
                p{
                    color: #7facd6;
                    font-size: 18px
                }
        }
        .buttons{
            @include br;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 45px;
            margin-top: 35px;
            padding-bottom: 20px;
                button{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    padding: 0px;
                    background-color: rgba(0,0,0,0);
                }
                #prevAudio{
                    background-image: url(../image/prev.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                #playAudio{
                    width: 40px !important;
                    height: 40px !important;
                    background-image: url(../image/play.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                #nextAudio{
                    background-image: url(../image/next.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
        }
        .sound{
            @include br;
            display: flex;
            justify-content: center;
            align-items: center;
                
        }
}